#right-panel {

  position: fixed;
  left: 50%;

  #iframe-wrapper {
    padding-left: 12px;
  }

  p {
    padding-left: 12px;
  }
}

#left-panel {
  display: inline-block;
  width: 50%;

  li #features {
    float: right !important;
  }

  #criteria {
    #dropdowns {

      #country {
        select { 
          width: 103px;
        }
      }

      #term {
        select { 
          width: 103px;
        }
      }

      div {
        display: inline-block;
      }
    }

    #level {

      .set {

        display: inline-block;
        margin-left: 8px;

        h4 {
          display: inline-block;
        }

      }
    }

    h3,
    select {
      margin-left: 8px;
    }

    label {
      display: inline-block;
    }

    table {
      width: 100%;

      td {
        vertical-align: top;
      }
    }

    .toggle-set {
      .set {
        display: inline-block;
        width: 170px;

        .iPhoneCheckContainer {
          width: 170px !important;
        }
        .iPhoneCheckHandle {
          width: 70px !important;
        }
      }
    }
  }

  #results {
    h3 {
      margin-left: 8px;
    }

    table {
      #title {
        width: 50%;
      }

      #company {
        width: 16%;
      }

      #location {
        width: 18%;
      }

      #deadline {
        width: 16%;
      }

      tr {
        cursor: pointer;

        td {
          vertical-align: middle;
        }
      }
    }
  }
}