.container {
  width: 940px;

  #criteria {
    #dropdowns {
      width: 84%;

      #term {
        display: inline-block;
        width: 103px;
      }

      div {
        display: inline-block;
      }
    }

    #level {

      .set {

        h4 {
          display: inline-block;
        }

      }
    }

    h3,
    select {
      margin-left: 8px;
    }

    label {
      display: inline-block;
    }

    table {
      width: 100%;

      td {
        vertical-align: top;
      }
    }

    .toggle-set {
      .set {
        display: inline-block;
        width: 170px;

        .iPhoneCheckContainer {
          width: 170px !important;
        }
        .iPhoneCheckHandle {
          width: 70px !important;
        }
      }
    }
  }

  #results {
    h3 {
      margin-left: 8px;
    }

    table {
      .desc {
        width: 70%;
      }

      td {
        vertical-align: middle;
      }
    }
  }
}