#newsletter {
  padding-bottom: 100px;
  text-align: center;

  #heading {
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #title {
    font-size: 44px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1px;
    margin-top: 30px;
  }

  #form-wrapper {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #canada,
  #category-wrapper,
  #level-wrapper,
  #location,
  #usa {
    display: inline;
    float: left;
    width: 25%;
  }

  #newsletter_subscriber_email {
    margin-top: 20px !important;
    text-align: center;
  }

  #form-title {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #subscribe-area {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #email-input,
  #subscribe-btn {
    input {
      width: 220px;
    }
  }

  input, label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px; 
    font-weight: 100;
  }

  table {

    th {
      font-size: 20px;
      font-weight: 100;
      width: 25%;
    }

    td, th {
      text-align: center;
    }

  }
}
