body {
  background-color: #4E70AD;
  color: rgb(240,240,240); 
}
#newsletter {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  text-align: center;

  #heading {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #title {
    font-size: 44px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1px;
    margin-top: 30px;
  }

  table {

    font-family: Cambria, Georgia, serif;

    th {
      font-size: 16px;
      font-weight: 100;
      width: 25%;
    }

    td, th {
      text-align: center;
    }

    a {
      color: #FFC964;
    }

    td {
      font-family: Tahoma;

    }
  }
}
