%h3
  %ul.nav.nav-tabs
    %li.active= link_to 'Jobs', '/jobs', { :remote => true }
    %li= link_to 'Students', '/students', { :remote => true } 
  %li= link_to 'Students', jobs_path, { :method => :post } 