%h3
  %ul.nav.nav-tabs
    %li= link_to 'AceInterns Beta', root_path
    -# %li= link_to 'Jobs', '/jobs', { :remote => true }
    -# %li= link_to 'Students', '/students', { :remote => true } 
  -# %li= link_to 'Create a Posting', new_job_path